In [107]:
import pandas as pd

In [108]:
import selenium

In [109]:
from selenium import webdriver

In [110]:
import time

In [111]:
driver=webdriver.Chrome("chromedriver.exe")

<ipython-input-111-13c3cc54b860>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [112]:
driver.get("https://www.naukri.com/")

In [113]:
search_job=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")

<ipython-input-113-4b06dc7fe8a7>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_job=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")

In [114]:
search_job.send_keys("Data Scientist")

In [115]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

<ipython-input-115-e011a32b2927>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")

In [116]:
search_btn.click()

In [121]:
search_loc=driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']/span")

<ipython-input-121-7268354f5d32>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  search_loc=driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']/span")

In [122]:
for i in search_loc:
    if i.text=='Delhi / NCR':
        i.click()
        break

In [123]:
search_sal=driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']/span")

<ipython-input-123-0b339935f0f6>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  search_sal=driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']/span")

In [124]:
for i in search_sal:
    if i.text=='3-6 Lakhs':
        i.click()
        break

In [125]:
job_title=[]

In [126]:
job_location=[]

In [127]:
company_name=[]

In [128]:
experience_required=[]

In [129]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

<ipython-input-129-13ceef640646>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [130]:
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:10]

['Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist I/II/III',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Data Scientist',
 'Data Scientist Internship',
 'Data Scientist',
 'Data Scientist']

In [131]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

<ipython-input-131-e7d5ce443348>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [132]:
for i in location_tags:
    location=i.text
    job_location.append(location)
job_location[0:10]

['Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Noida',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida',
 'Gurgaon/Gurugram',
 'New Delhi',
 'Mumbai, Delhi / NCR',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru']

In [133]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

<ipython-input-133-629cdf6cb52d>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [134]:
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name[0:10]

['HCL Technologies',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'OLX India Pvt Ltd',
 'Newgen Software Technologies Ltd.',
 'Hexagon Geosystems Services India P.Ltd.',
 'Optum Global Solutions (India) Private Limited',
 'Milliman India Pvt Ltd',
 'iHackers Inc',
 'lericon infomatics pvt.ltd',
 'Fractal Analytics']

In [135]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

<ipython-input-135-4c8a7d0a9c61>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [136]:
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required[0:10]

['4-7 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '6-11 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '0-1 Yrs',
 '3-5 Yrs',
 '3-7 Yrs']

In [137]:
jobs=pd.DataFrame({})

In [138]:
jobs['Title']=job_title[0:10]
jobs['Location']=job_location[0:10]
jobs['Company']=company_name[0:10]
jobs['Experience Required']=experience_required[0:10]

In [139]:
jobs

,Title,Location,Company,Experience Required
0,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL Technologies,4-7 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",EXL Services.com ( I ) Pvt. Ltd.,3-5 Yrs
2,Data Scientist I/II/III,Gurgaon/Gurugram,OLX India Pvt Ltd,3-6 Yrs
3,Data Scientist,Noida,Newgen Software Technologies Ltd.,2-5 Yrs
4,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Hexagon Geosystems Services India P.Ltd.,6-11 Yrs
5,Associate Data Scientist,Noida,Optum Global Solutions (India) Private Limited,2-7 Yrs
6,Data Scientist,Gurgaon/Gurugram,Milliman India Pvt Ltd,2-5 Yrs
7,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
8,Data Scientist,"Mumbai, Delhi / NCR",lericon infomatics pvt.ltd,3-5 Yrs
9,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs